<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center mt-5">
			<h2>Update CurvePoint</h2>
		</div>
		<div class="d-flex justify-content-center mt-5">
			<div>
				<form th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post">
					<div class="mb-3">
						<label class="form-label" for="curveId">CurveId</label>
						<input class="form-control" type="number" id="curveId" th:field="*{curveId}" th:value="${curvePoint.curveId}" autofocus>
						<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
					</div>
					<div class="mb-3">
						<label class="form-label" for="term">Term</label>
						<input class="form-control" type="number" step="0.01" id="term" th:field="*{term}" th:value="${curvePoint.term}">
						<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
					</div>
					<div class="mb-3">
						<label class="form-label" for="value">Value</label>
						<input class="form-control" type="number" step="0.01" id="value" th:field="*{value}" th:value="${curvePoint.value}">
						<p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-danger btn-sm" formmethod="get" formaction="/curvePoint/list">Cancel</button>
						<button type="submit" class="btn btn-primary btn-sm" formmethod="post" th:formaction="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Update CurvePoint</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>