<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center mt-5">
			<h2>Update Trade</h2>
		</div>
		<div class="d-flex justify-content-center mt-5">
			<div>
				<form th:action="@{/trade/update/{id}(id=${trade.id})}" th:object="${trade}" method="post">
					<div class="mb-3">
						<label class="form-label" for="account">Account</label>
						<input class="form-control" type="text" id="account" name="account" th:value="${trade.account}" autofocus>
						<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
					</div>
					<div class="mb-3">
						<label class="form-label" for="type">Type</label>
						<input class="form-control" type="text" id="type" name="type" th:value="${trade.type}">
						<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
					</div>
					<div class="mb-3">
						<label class="form-label" for="buyQuantity">Type</label>
						<input class="form-control" type="number" step="0.01" id="buyQuantity" name="buyQuantity" th:value="${trade.buyQuantity}">
						<p class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></p>
					</div>
					<div class="mb-3">
						<div>
							<button type="submit" class="btn btn-danger btn-sm" formmethod="get" formaction="/trade/list">Cancel</button>
							<button type="submit" class="btn btn-primary btn-sm" formmethod="post" th:formaction="@{/trade/update/{id}(id=${trade.id})}">Update Trade</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>